body{
	font-family: Arial, Helvetica, sans-serif;
    padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
}
header {
    padding: 30px 20px;
	font-weight: bold;
}
#scores-list {
	color: rgb(209, 10, 113);
}
#start-btn, #submit-btn {
	border: 1px solid black;
	border-radius: 25%;
	background-color: rgb(46, 229, 202);
	padding: 5px;
}
#start-btn:hover, #submit-btn:hover { 
	font-weight: bold;
}
.options{
	margin: 25px;
	padding: 25px;
	background-color: rgb(175, 159, 208);
	justify-content: center;
}
#options{
	flex-axis: vertical; 
	align-items: center;
}
.option:hover{
	background-color: rgb(245, 245, 221);
}
#display-score{
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}

